<h2>{{location.name}}</h2>
<div class="save" {{action saveLocation}}>
	{{#if isSaved}}
		Remove favorite
	{{else}}
		Add to favorites
	{{/if}}
</div>
<ul>
	<li>Location: {{location.coord.lat}}, {{location.coord.lon}}</li>
	<li>Clouds: {{location.clouds.all}}</li>

	{{#if sunrise}}
		<li>Sunrise: {{sunrise}}</li>
	{{/if}}

	{{#if sunset}}
		<li>Sunset: {{sunset}}</li>
	{{/if}}

	<li>Wind: {{location.wind.deg}} degrees @ {{location.wind.speed}}</li>
	<li>Humidity: {{location.main.humidity}}</li>
	<li>Pressure: {{location.main.pressure}}</li>
	<li>Current Temperature: {{location.main.temp}}F</li>
	<li>High: {{location.main.temp_max}}F</li>
	<li>Low: {{location.main.temp_min}}F</li>
	{{#each desc in location.weather}}
		<li>{{desc.description}}</li>
	{{/each}}
</ul>